# Assignment 3 – Pandas – Plotting – Publishing
### By - Mitul Srivastava (C00313606)

# quakes-clean.ipynb

### Installing and importing pandas

In [1]:
!pip install pandas 
import pandas as pd

Requirement already satisfied: pandas in c:\users\mitul\appdata\local\programs\python\python311\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\mitul\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mitul\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mitul\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mitul\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\mitul\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

### Importing the earthquake data from URL and reading it using pandas read_csv

In [2]:
URL = "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.csv"

In [3]:
df = pd.read_csv(URL)
df.shape

(9808, 22)

In [4]:
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2024-12-13T17:24:02.340Z,38.826332,-122.822830,3.42,0.44,md,7.0,102.00,0.01006,0.0200,...,2024-12-13T17:25:36.723Z,"8 km NW of The Geysers, CA",earthquake,0.76,2.45,0.18,8.0,automatic,nc,nc
1,2024-12-13T17:18:28.567Z,60.289300,-141.071500,16.00,1.80,ml,NaN,NaN,NaN,0.8100,...,2024-12-13T17:20:44.422Z,"111 km NW of Yakutat, Alaska",earthquake,NaN,0.40,NaN,NaN,automatic,ak,ak
2,2024-12-13T17:16:37.642Z,59.768400,-151.414600,44.60,1.80,ml,NaN,NaN,NaN,0.5400,...,2024-12-13T17:18:30.483Z,"7 km WNW of Fritz Creek, Alaska",earthquake,NaN,1.20,NaN,NaN,automatic,ak,ak
3,2024-12-13T17:12:35.541Z,39.138100,-119.043700,1.40,1.60,ml,8.0,89.99,0.21600,0.1371,...,2024-12-13T17:15:56.024Z,"19 km NNE of Yerington, Nevada",earthquake,NaN,15.20,0.29,4.0,automatic,nn,nn
4,2024-12-13T16:59:01.160Z,38.821999,-122.853333,2.81,1.52,md,34.0,55.00,0.00619,0.0200,...,2024-12-13T17:17:17.444Z,"10 km NW of The Geysers, CA",earthquake,0.20,0.35,0.13,32.0,automatic,nc,nc

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9808 entries, 0 to 9807
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             9808 non-null   object
 1   latitude         9808 non-null   float64
 2   longitude        9808 non-null   float64
 3   depth            9808 non-null   float64
 4   mag              9806 non-null   float64
 5   magType          9806 non-null   object
 6   nst              8521 non-null   float64
 7   gap              8520 non-null   float64
 8   dmin             8489 non-null   float64
 9   rms              9805 non-null   float64
 10  net              9808 non-null   object
 11  id               9808 non-null   object
 12  updated          9808 non-null   object
 13  place            9808 non-null   object
 14  type             9808 non-null   object
 15  horizontalError  7614 non-null   float64
 16  depthError       9806 non-null   float64
 17  magError         8467 non-null   float64
 18  magNst           8520 non-null   float64
 19  status           9808 non-null   object
 20  locationSource   9808 non-null   object
 21  magSource        9808 non-null   object
dtypes: float64(12), object(10)
memory usage: 1.6+ MB

### Droping the unwanted columns using drop().

In [6]:
df_dropped_columns = df.drop(["magType","nst","gap","dmin","rms","net","horizontalError","depthError","locationSource","magSource","status"],axis=1)
df_dropped_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9808 entries, 0 to 9807
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       9808 non-null   object
 1   latitude   9808 non-null   float64
 2   longitude  9808 non-null   float64
 3   depth      9808 non-null   float64
 4   mag        9806 non-null   float64
 5   id         9808 non-null   object
 6   updated    9808 non-null   object
 7   place      9808 non-null   object
 8   type       9808 non-null   object
 9   magError   8467 non-null   float64
 10  magNst     8520 non-null   float64
dtypes: float64(6), object(5)
memory usage: 843.0+ KB

### Assigning the correct data types to the columns with default as object data type.

In [7]:
df_dropped_columns["place"] = df_dropped_columns["place"].astype("string")
df_dropped_columns["time"] = pd.to_datetime(df_dropped_columns["time"])
df_dropped_columns["id"] = df_dropped_columns["id"].astype("string")
df_dropped_columns["updated"] = pd.to_datetime(df_dropped_columns["updated"])
df_dropped_columns["type"] = df_dropped_columns["type"].astype("category")
df_dropped_columns["magNst"] = df_dropped_columns["magNst"].astype("Int64")
df_dropped_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9808 entries, 0 to 9807
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       9808 non-null   datetime64[ns, UTC]
 1   latitude   9808 non-null   float64
 2   longitude  9808 non-null   float64
 3   depth      9808 non-null   float64
 4   mag        9806 non-null   float64
 5   id         9808 non-null   string
 6   updated    9808 non-null   datetime64[ns, UTC]
 7   place      9808 non-null   string
 8   type       9808 non-null   category
 9   magError   8467 non-null   float64
 10  magNst     8520 non-null   Int64
dtypes: Int64(1), category(1), datetime64[ns, UTC](2), float64(5), string(2)
memory usage: 785.7 KB

## Resolving Null values
### 1. First in the "mag" column we see there are 2 rows having null values.

In [8]:
df_dropped_columns[df_dropped_columns["mag"].isnull()]

,time,latitude,longitude,depth,mag,id,updated,place,type,magError,magNst
8193,2024-11-19 18:17:40+00:00,35.96302,-120.13313,0.0,NaN,nc75088286,2024-11-25 19:15:38.286000+00:00,"5 km SSW of Avenal, CA",sonic boom,NaN,<NA>
8194,2024-11-19 18:17:37+00:00,36.24927,-120.34372,0.0,NaN,nc75088281,2024-11-25 19:13:38.333000+00:00,"12 km NNE of Coalinga, CA",sonic boom,NaN,<NA>

### 2. On further analysis we see that they are the same two rows where "type" is "sonic boom".

In [9]:
df_dropped_columns[df_dropped_columns["type"]== "sonic boom"]

,time,latitude,longitude,depth,mag,id,updated,place,type,magError,magNst
8193,2024-11-19 18:17:40+00:00,35.96302,-120.13313,0.0,NaN,nc75088286,2024-11-25 19:15:38.286000+00:00,"5 km SSW of Avenal, CA",sonic boom,NaN,<NA>
8194,2024-11-19 18:17:37+00:00,36.24927,-120.34372,0.0,NaN,nc75088281,2024-11-25 19:13:38.333000+00:00,"12 km NNE of Coalinga, CA",sonic boom,NaN,<NA>

### 3. Since, sonic boom is not an earthquake we assign a value of 0.00 to mag column.

In [10]:
df_dropped_columns["mag"] = df_dropped_columns["mag"].fillna(value=0.00)

In [11]:
df_dropped_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9808 entries, 0 to 9807
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       9808 non-null   datetime64[ns, UTC]
 1   latitude   9808 non-null   float64
 2   longitude  9808 non-null   float64
 3   depth      9808 non-null   float64
 4   mag        9808 non-null   float64
 5   id         9808 non-null   string
 6   updated    9808 non-null   datetime64[ns, UTC]
 7   place      9808 non-null   string
 8   type       9808 non-null   category
 9   magError   8467 non-null   float64
 10  magNst     8520 non-null   Int64
dtypes: Int64(1), category(1), datetime64[ns, UTC](2), float64(5), string(2)
memory usage: 785.7 KB

### 4. For the columns "magError" and "magNst" we provide default lowest values which will be "0.00" for magError and "1" for "magNst" because there will be atleast 1 station there to measure the data value because of which we have that entry.

In [12]:
df_dropped_columns["magError"] = df_dropped_columns["magError"].fillna(value=0.00)
df_dropped_columns["magNst"] = df_dropped_columns["magNst"].fillna(value=1)
df_dropped_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9808 entries, 0 to 9807
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       9808 non-null   datetime64[ns, UTC]
 1   latitude   9808 non-null   float64
 2   longitude  9808 non-null   float64
 3   depth      9808 non-null   float64
 4   mag        9808 non-null   float64
 5   id         9808 non-null   string
 6   updated    9808 non-null   datetime64[ns, UTC]
 7   place      9808 non-null   string
 8   type       9808 non-null   category
 9   magError   9808 non-null   float64
 10  magNst     9808 non-null   Int64
dtypes: Int64(1), category(1), datetime64[ns, UTC](2), float64(5), string(2)
memory usage: 785.7 KB

### Writing the cleaned dataframe into a csv file named "quakes-cleaned.csv"

In [13]:
df_dropped_columns.to_csv("quakes-cleaned.csv")