# Assignment 3 – Pandas – Plotting – Publishing

## quakes-insights.ipynb

In [1]:
import pandas as pd

### Reading "quakes-cleaned.csv" created in quakes-clean.ipynb

In [2]:
df = pd.read_csv("quakes-cleaned.csv")

## Insight 1 : Find the "Most active Local Area".
### Counting the number of times each place names come in the dataset.

In [3]:
df['local_area'] = df['place'].str.split(',').str[-1].str.strip()
df.loc[df["local_area"] == "California Earthquake", "local_area"] = "CA"
df['local_area'].unique()
area_counts = df['local_area'].value_counts()
most_active_area = area_counts.idxmax()
most_active_count = area_counts.max()
print(f"The most seismically active area is '{most_active_area}' with {most_active_count} events.")

The most seismically active area is 'CA' with 3265 events.

## Insight 2 : Largest Magnitude event at each location and the highest one recorded. 
### Selecting "local_area" and "mag" and arranging them in descending order.

In [4]:
largest_events_by_place = df.loc[df.groupby('local_area')['mag'].idxmax()]
result = largest_events_by_place[['local_area', 'mag']]
result = result.sort_values(by='mag', ascending=False)
print("Largest magnitude event recorded and its place:")
print(result.head(1))
print("Largest magnitude event at each place:")
print(result)

Largest magnitude event recorded and its place:
     local_area  mag
3063         CA  7.0
Largest magnitude event at each place:
            local_area   mag
3063                CA  7.00
9384  Papua New Guinea  6.60
1662            Alaska  6.30
6300             Japan  6.10
1854     Kuril Islands  6.00
...                ...   ...
6723              Ohio  1.80
5714          Virginia  1.75
6362          Colorado  1.70
8449     Massachusetts  1.70
6260        New Jersey  1.50

[134 rows x 2 columns]

## Insight 3 : The average error for magnitude decreases with increase in stations.
### If we see the average_mag_error below the error for station 1,2,3 is more than the stations 506, 516. The graph in the plots section shows this trend better.

In [5]:
average_mag_error = df.groupby('magNst')['magError'].mean()
average_mag_error

magNst
0      0.000000
1      0.000194
2      0.168350
3      0.241494
4      0.225366
         ...
341    0.031000
456    0.027000
506    0.025000
511    0.025000
516    0.025000
Name: magError, Length: 174, dtype: float64

## Insights 4 : Comparison between the frequency of earthquakes between northern and southern half of earth.
### We see that the number of earthquakes in North are much higher than Southern part of earth.

In [6]:
latitude_freq = df['latitude'].value_counts().reset_index()
latitude_freq.columns = ['latitude', 'frequency']
latitude_freq

df['latitude_group'] = df['latitude'].apply(lambda x: 'North' if x >= 0 else 'South')
latitude_group_counts = df['latitude_group'].value_counts().reset_index()
latitude_group_counts

  latitude_group  count
0          North   9471
1          South    337

## Insights 5 : Comparison between the frequency of earthquakes between Eastern and Western half of earth.
### We see that the number of earthquakes in West are much higher than Eastern part of earth.

In [7]:
longitude_freq = df['longitude'].value_counts().reset_index()
longitude_freq.columns = ['longitude', 'frequency']
longitude_freq

df['longitude_group'] = df['longitude'].apply(lambda x: 'East' if x >= 0 else 'West')
longitude_group_counts = df['longitude_group'].value_counts().reset_index()
longitude_group_counts

  longitude_group  count
0            West   9348
1            East    460